<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>

milk<input type="hidden" name="name" value="milk"/><input name="amount"/>
eggs <input type="hidden" name="name" value="eggs"/><input name="amount"/>
<input type="hidden" name="name" value="wodka"/><input name="amount"/>
<input type="hidden" name="name" value="kakao"/><input name="amount"/>
<input type="hidden" name="name" value="milk"/><input name="amount"/>
    <input type="hidden" name="name" value="milk"/><input name="amount"/>
<input type="submit"></input>
</form>


</body>
</html>